<div class="reportInfo">
<div class="card2">
<h2 class="name"><%=data[0].닉네임 %></h2>
<div class="title">비매너 유저</div>
<div class="actions">
<div class="follow-info">
<h2><a ><span><%=allInfo.욕설수%></span><small>욕설</small></a></h2>
<h2><a ><span><%=allInfo.cs뺏어먹기수%></span><small>cs 뺏어먹기</small></a></h2>
</div>
<div class="follow-info">
<h2><a ><span><%=allInfo.고의적죽음수%></span><small>고의적 죽음</small></a></h2>
<h2><a ><span><%=allInfo.닷지유도수%></span><small>픽창 닷지 유도</small></a></h2>
</div>
<div class="follow-info">
<h2 id="pedrip2"><a ><span id="pedrip"><%= allInfo.패드립수 %></span><small>패드립</small></a></h2>
</div>
<div class="follow-btn">
<button onclick="openModal('<%= allImgs %>')">All Images</button>
</div>
</div>
</div>
</div>
